In [148]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [149]:
import pandas as pd

In [150]:
df = pd.read_csv('./data.csv')
df.tail()
# rename 'Burkina Faso (UVolta)' to 'Burkina Faso'
# rename 'Madagascar (Malagasy Republic)' to 'Madagascar'
# rename 'Sri Lanka (Ceylon)' to 'Sri Lanka'

remap = {
    'Burkina Faso (UVolta)': 'Burkina Faso',
    'Madagascar (Malagasy Republic)': 'Madagascar', 
    'Sri Lanka (Ceylon)': 'Sri Lanka' 
}

df['origin'].replace(remap, inplace= True)

In [151]:
df = df.groupby(['year', 'origin', 'dest_state']).sum().reset_index()
df.tail()

       year    origin      dest_state  arrivals
19982  2015  Zimbabwe        New York         0
19983  2015  Zimbabwe  North Carolina         0
19984  2015  Zimbabwe            Ohio         0
19985  2015  Zimbabwe       Tennessee         0
19986  2015  Zimbabwe           Texas         0

In [152]:
states = df['dest_state'].unique()

In [153]:
state_locations = {}
for state in states:
    geo = geolocator.geocode(state)
    if(geo):
        state_locations[state] = {'long': geo.longitude, 'lat': geo.latitude}

In [154]:
origins = df['origin'].unique()
origins

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Armenia',
       'Azerbaijan', 'Bangladesh', 'Belarus', 'Benin', 'Bhutan',
       'Bosnia and Herzegovina', 'Bulgaria', 'Burkina Faso', 'Burma',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'China', 'Colombia', 'Congo',
       'Costa Rica', 'Croatia', 'Cuba', 'Dem. Rep. Congo', 'Djibouti',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'France', 'Gabon', 'Gambia', 'Gaza Strip',
       'Georgia', 'Germany', 'Ghana', 'Guatemala', 'Guinea',
       'Guinea - Bissau', 'Haiti', 'Honduras', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Israel', 'Ivory Coast', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, North', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Lithuania',
       'Macedonia', 'Madagascar', 'Malaysia', 'Mali', 'Mauritania',
       'Moldova', 'Montenegro', 'Morocco', 'Namibia', 'Nepal',
       'Netherlands', 'Niger', 'Nigeria', 'Pakistan', 'Palestine',
       'Philippines', 'Republic of South Sudan', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Somalia',
       'South Africa', 'Sri Lanka', 'Sudan', 'Sweden', 'Syria',
       'Tajikistan', 'Tanzania', 'Thailand', 'Tibet', 'Togo', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [155]:
origin_locations = {}
for origin in origins:
    geo = geolocator.geocode(origin)
    if(geo):
        origin_locations[origin] = {'long': geo.longitude, 'lat': geo.latitude}

In [156]:
df.tail(5)

       year    origin      dest_state  arrivals
19982  2015  Zimbabwe        New York         0
19983  2015  Zimbabwe  North Carolina         0
19984  2015  Zimbabwe            Ohio         0
19985  2015  Zimbabwe       Tennessee         0
19986  2015  Zimbabwe           Texas         0

In [157]:
df.reset_index().to_json('data-with-coord.json', orient='records')

In [158]:
origin_locations

{'Afghanistan': {'lat': 33.0000866, 'long': 64.9998468},
 'Albania': {'lat': 41.000028, 'long': 19.9999619},
 'Algeria': {'lat': 28.0000272, 'long': 2.9999825},
 'Angola': {'lat': -11.8775767, 'long': 17.5691241},
 'Armenia': {'lat': 40.7696272, 'long': 44.6736646},
 'Azerbaijan': {'lat': 40.3936294, 'long': 47.7872508},
 'Bangladesh': {'lat': 24.4768783, 'long': 90.2932426},
 'Belarus': {'lat': 53.4250605, 'long': 27.6971358},
 'Benin': {'lat': 9.5293472, 'long': 2.2584408},
 'Bhutan': {'lat': 27.549511, 'long': 90.5119273},
 'Bosnia and Herzegovina': {'lat': 44.3053476, 'long': 17.5961467},
 'Bulgaria': {'lat': 42.6073975, 'long': 25.4856617},
 'Burkina Faso': {'lat': 12.0753083, 'long': -1.6880313},
 'Burma': {'lat': 17.1750495, 'long': 95.9999652},
 'Burundi': {'lat': -3.3634356, 'long': 29.8870575},
 'Cambodia': {'lat': 13.5066394, 'long': 104.869423},
 'Cameroon': {'lat': 4.6125522, 'long': 13.1535811},
 'Canada': {'lat': 61.0666922, 'long': -107.991707},
 'Central African Republic': {'lat': 25.2183959, 'long': 55.1752385762154},
 'Chad': {'lat': 15.6134137, 'long': 19.0156172},
 'China': {'lat': 35.000074, 'long': 104.999927},
 'Colombia': {'lat': 2.893108, 'long': -73.7845142},
 'Congo': {'lat': -2.9814343, 'long': 23.8222636},
 'Costa Rica': {'lat': 10.2735633, 'long': -84.0739101},
 'Croatia': {'lat': 45.5643442, 'long': 17.0118954},
 'Cuba': {'lat': 23.0131338, 'long': -80.8328747},
 'Dem. Rep. Congo': {'lat': 9.0068596, 'long': 38.7695771},
 'Djibouti': {'lat': 11.85677545, 'long': 42.7577845199437},
 'Ecuador': {'lat': -1.3397667, 'long': -79.3666964},
 'Egypt': {'lat': 26.2540493, 'long': 29.2675469},
 'El Salvador': {'lat': 13.8000382, 'long': -88.9140682},
 'Equatorial Guinea': {'lat': 1.613172, 'long': 10.5170357},
 'Eritrea': {'lat': 15.9500319, 'long': 37.9999668},
 'Estonia': {'lat': 58.7523778, 'long': 25.3319078},
 'Ethiopia': {'lat': 10.2116702, 'long': 38.6521203},
 'France': {'lat': 46.603354, 'long': 1.8883335},
 'Gabon': {'lat': -0.8999694, 'long': 11.6899699},
 'Gambia': {'lat': 13.470062, 'long': -15.4900463},
 'Gaza Strip': {'lat': 31.4331663, 'long': 34.3779285},
 'Georgia': {'lat': 32.3293809, 'long': -83.1137365},
 'Germany': {'lat': 51.0834196, 'long': 10.4234469},
 'Ghana': {'lat': 8.0300284, 'long': -1.080027},
 'Guatemala': {'lat': 15.6356088, 'long': -89.8988086},
 'Guinea': {'lat': 10.7226226, 'long': -10.7083586},
 'Guinea - Bissau': {'lat': 12.100035, 'long': -14.9000213},
 'Haiti': {'lat': 19.1399952, 'long': -72.3570971},
 'Honduras': {'lat': 15.0610686, 'long': -84.5978533},
 'India': {'lat': 22.3511148, 'long': 78.6677428},
 'Indonesia': {'lat': -4.7993355, 'long': 114.5632032},
 'Iran': {'lat': 32.9407496, 'long': 52.9471344},
 'Iraq': {'lat': 33.0955793, 'long': 44.1749775},
 'Israel': {'lat': 30.8760272, 'long': 35.0015196},
 'Ivory Coast': {'lat': 7.9897371, 'long': -5.5679457},
 'Jamaica': {'lat': 18.1850507, 'long': -77.3947692},
 'Jordan': {'lat': 31.1667049, 'long': 36.941628},
 'Kazakhstan': {'lat': 47.2286086, 'long': 65.2093197},
 'Kenya': {'lat': 1.4419683, 'long': 38.4313975},
 'Korea, North': {'lat': 61.18541105, 'long': 6.81350883350348},
 'Kuwait': {'lat': 29.2733964, 'long': 47.4979476},
 'Kyrgyzstan': {'lat': 41.5089324, 'long': 74.724091},
 'Laos': {'lat': 20.0171109, 'long': 103.378253},
 'Latvia': {'lat': 56.8666904, 'long': 24.5999717},
 'Lebanon': {'lat': 33.8750629, 'long': 35.843409},
 'Liberia': {'lat': 5.7499721, 'long': -9.3658523},
 'Libya': {'lat': 26.8234472, 'long': 18.1236723},
 'Lithuania': {'lat': 55.3500003, 'long': 23.7499998},
 'Macedonia': {'lat': 41.6171214, 'long': 21.7168387},
 'Madagascar': {'lat': -18.9249603, 'long': 46.4416422},
 'Malaysia': {'lat': 2.3923759, 'long': 112.8471939},
 'Mali': {'lat': 16.3700359, 'long': -2.2900238},
 'Mauritania': {'lat': 20.2540382, 'long': -9.2399262},
 'Moldova': {'lat': 47.286747, 'long': 28.5110236},
 'Montenegro': {'lat': 43.0285558, 'long': 19.291739},
 'Morocco': {'lat': 31.1728192, 'long': -7.3366042},
 'Namibia': {'lat': -23.2335498, 'long': 17.3231107},
 'Nepal': {'lat': 28.1082107, 'long': 84.0917515},
 'Netherlands': {'lat': 52.2379891, 'long': 5.53460738161551},
 'Niger': {'lat': 17.7356214, 'long': 9.3238432},
 'Nigeria': {'lat': 9.6000359, 'long': 7.9999721},
 'Pakistan': {'lat': 30.3308401, 'long': 71.247499},
 'Palestine': {'lat': 31.649741, 'long': 35.162072},
 'Philippines': {'lat': 12.7503486, 'long': 122.7312101},
 'Republic of South Sudan': {'lat': 7.8699431, 'long': 29.6667897},
 'Russia': {'lat': 64.6863136, 'long': 97.7453061},
 'Rwanda': {'lat': -1.964663, 'long': 30.0644358},
 'Saudi Arabia': {'lat': 25.6242618, 'long': 42.3528328},
 'Senegal': {'lat': 14.4750607, 'long': -14.4529611},
 'Serbia': {'lat': 44.1534121, 'long': 20.55144},
 'Sierra Leone': {'lat': 8.6400349, 'long': -11.8400268},
 'Somalia': {'lat': 8.3676771, 'long': 49.083416},
 'South Africa': {'lat': -28.8166235, 'long': 24.991639},
 'Sri Lanka': {'lat': 7.878, 'long': 80.7038245875},
 'Sudan': {'lat': 15.45374395, 'long': 29.7951525192217},
 'Sweden': {'lat': 59.6749712, 'long': 14.5208584},
 'Syria': {'lat': 34.6401861, 'long': 39.0494106},
 'Tajikistan': {'lat': 38.6281733, 'long': 70.8156541},
 'Tanzania': {'lat': -6.5247122, 'long': 35.7878438},
 'Thailand': {'lat': 14.8971921, 'long': 100.83273},
 'Tibet': {'lat': 32.0000002, 'long': 89.9999998},
 'Togo': {'lat': 8.7800265, 'long': 1.0199765},
 'Tunisia': {'lat': 33.8439408, 'long': 9.400138},
 'Turkey': {'lat': 38.9597594, 'long': 34.9249653},
 'Turkmenistan': {'lat': 39.3763807, 'long': 59.3924609},
 'Uganda': {'lat': 1.5333554, 'long': 32.2166578},
 'Ukraine': {'lat': 49.4871968, 'long': 31.2718321},
 'United Arab Emirates': {'lat': 24.0002488, 'long': 53.9994829},
 'United Kingdom': {'lat': 54.7023545, 'long': -3.2765752},
 'Uzbekistan': {'lat': 41.32373, 'long': 63.9528098},
 'Venezuela': {'lat': 8.0018709, 'long': -66.1109317},
 'Vietnam': {'lat': 13.2904027, 'long': 108.4265113},
 'Yemen': {'lat': 16.3471243, 'long': 47.8915271},
 'Zambia': {'lat': -14.5186238, 'long': 27.5599164},
 'Zimbabwe': {'lat': -18.4554962, 'long': 29.7468414}}